<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>관리자 전환</title>
    <link href="../../static/css/reset.css" rel="stylesheet">
    <link href="../../static/css/admin/pageNav.css" rel="stylesheet">
    <link href="../../static/css/admin/mgTrans.css" rel="stylesheet">
  </head>
  <body>
    <div class="navbar">
      <span>Admin Page</span>
      <ul class="menu">
        <li>
          <span>회원관리</span>
          <ul class="submenu">
            <li><a href="main.html">전체회원 관리</a></li>
            <li><a href="blackList.html">블랙리스트 관리</a></li>
            <li><a href="mgTrans.html">관리자 전환</a></li>
          </ul>
        </li>
        <li>
          <span>게시글 관리</span>
          <ul class="submenu">
            <li><a href="post.html">전체 게시글 관리</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="container">
      <div class="contents">
        <div class="mainTitle">
          관리자 전환
        </div>
        <div class="list">
          <div class="box-wrap">
            <div class="title">
              이름/아이디 검색
              <div class="search">
                <input type="text" class="memberSearch">
                <button id="search-button" type="submit">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                  </svg>
                </button>
              </div>
            </div>
            <div class="search-box">

            </div>
          </div>
          <div class="box-wrap">
            <div class="title">관리자 명단</div>
            <div class="mg-list-box">

            </div>
          </div>
        </div>
        <div class="button">
          <button class="mg-button" id="list-cancle">취소</button>
          <button class="mg-button" id="">확인</button>
        </div>
      </div>
    </div>
  </body>
</html>