<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.example.assemble.domain.user.UserFileDTO" alias="userFileDTO"/>
        <typeAlias type="com.example.assemble.domain.user.UserVO" alias="userVO"/>
        <typeAlias type="com.example.assemble.domain.study.StudyVO" alias="studyVO"/>
        <typeAlias type="com.example.assemble.domain.study.JoinStudyVO" alias="joinStudyVO"/>
        <typeAlias type="com.example.assemble.domain.study.StudyTalkVO" alias="studyTalkVO"/>
        <typeAlias type="com.example.assemble.domain.study.StudyTalkDTO" alias="studyTalkDTO"/>
        <typeAlias type="com.example.assemble.domain.NoticeVO" alias="noticeVO" />
        <typeAlias type="com.example.assemble.domain.Board.BoardVO" alias="boardVO" />
        <typeAlias type="com.example.assemble.domain.Board.CommentVO" alias="commentVO" />
    </typeAliases>
</configuration>