@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
*{
    font-family: Pretendard;
}
ul, li, a{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}

.main{
    width: 1280px;
    height: 874px;
    padding : 0px;
    border: 0px;
    margin : 0px auto;
    display: flex;
    justify-content: center;
}
.main_top_margin{
    width: 1280px;
    height: 874px;
    padding : 0px;
    border: 0px;
    margin-top: 40px;
    display: flex;
    justify-content: center;

}
.main_without_margin{
    width: 1280px;
    height: 874px;
    padding : 0px;
    border: 0px;
    /*background-color: aqua;*/
}
.menu_bar{
    width: 256px;
    height: 874px;
    padding-right: 64px;
    float: left;
    border-right: solid 1px #e5e7eb;
}
.menu_bar>h2{
    margin: 0px;
    height: 24px;
    font-weight: 600;
    line-height: 24px;
}
.menu{
    margin: 40px 0px;
    height: 88px;
}
.menu>ul{
    padding: 0px;
    height: 88px;
}
.menu li{
    list-style: none;
    border-radius: 0.375rem;
}
.checkfalse{
    background-color: white;
}
.menu svg{
    margin-left: -4px;
    margin-right: 12px;
    width: 24px;
    height: 24px;
    float: left;
}
.menu span{
    float: left;
    height: 24px;
    line-height: 24px;
    font-weight: 500;
}
#link_1{
    display: block;
    text-decoration: none;
    color: black;
    padding: 8px 12px;
    height: 24px;
    cursor: pointer;
}
#link_2, #link_3, #link_4, #link_5{
    display: block;
    text-decoration: none;
    color: black;
    padding: 8px 12px;
    margin-top: 8px;
    cursor: pointer;
    height: 24px;
}

.content{
    float: left;
    width: 959px;
}
.info{
    padding-left: 80px;
    border-bottom: 1px solid #e5e7eb;
}
.info>h2{
    font-size: 20px;
}
.info_word{
    margin-top: 40px;
    margin-bottom: 0px;
    overflow: auto;
}
.info_word>div{
    float:left;
}
.essentialInfo{
}
.name{
    height: 66px;
}
.nickname, .nationality, .age, .livingplace{
    height: 66px;
    margin-top: 24px;
}
.nationality{
    margin-bottom: 24px;
}
.username{
    width: 511px;
    height: 20px;
}
.username:hover, .userNickname:hover, .userage:hover, .userlivingplace:hover, .usernationality:hover, #usernationality:hover{
    cursor: pointer;
}
.name_enter, .nickname_enter, .nationality_enter, .age_enter, .livingplace_enter{
    margin-top: 4px;
    height: 42px;
}
#username, #userNickname, #userage, #userlivingplace{
    border: 1px solid rgba(107, 114, 128, 0.3);
    border-radius: 0.375rem;
    padding : 8px 12px;
    height: 24px;
    line-height: 24px;
    width: 485px;
}
#username:focus, #userNickname:focus, #userage:focus, #userlivingplace:focus, #usernationality:focus{
    outline: none;
    border: 1px solid rgba(107, 114, 128, 1);
}

#userlivingplace, #userage{
    float: left;
}
.userage{
    display: table;
}
.userage>span{
    font-size: 12px;
    display: table-cell;
    vertical-align: middle;
    color: rgba(107, 114, 128, 0.3);

}
.userlivingplace>span{
    font-size: 12px;
    display: table-cell;
    vertical-align: middle;
    color: rgba(107, 114, 128, 0.3);
}


#usernationality{
    border: 1px solid rgba(107, 114, 128, 0.3);
    border-radius: 0.375rem;
    padding: 8px 12px;
    height: 42px;
    line-height: 42px;
    width: 511px;
}
.optionalInfo{
    padding-left: 80px;
}
.livingplace{
    margin-top: 24px;
}
.checkinfo{
    font-size: 12px;
    color: #e5e7eb;
    margin-top: 0px;
    margin-bottom: 0px;
}
.profile{
    margin-left: 208px;
    width: 160px;
    height: 270px;
}
.picture{
    width: 160px;
    height: 160px;

}
#picture{
    display: none;
}
label[for="picture"] div{
    width: 160px;
    height: 160px;
    /*background-image: url(../img/account.png);*/
    background-size: 100% 100%;
    cursor: pointer;
    border-radius: 100%;
}
label[for="picture"] div:hover{
    filter: brightness(0.3);
}
.change>p{
    height: 160px;
    color: #8BC34A;
    font-size: 14px;
    line-height: 160px;
    font-weight: 500;
    opacity: 0;
    margin: 0px;
    text-align: center;
}
.change>p:hover{
    opacity: 1;
}
.btn{
    width: 40px;
    height: 20px;
    border: 2px solid rgba(0, 0, 0, 0);
    margin-left: 16px;
    float: right;
    transform: translate(0px, 9px);
}
#toggle-slide1{
    display:none;
}
label[for="toggle-slide1"]{
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: #e5e7eb;
    border-radius: 25px;
    transition: 0.5s;
    border: 2px solid rgb(229, 231, 235);
}
.onf_btn1, .onf_btn2, .onf_btn3{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: white;
    transition: 0.5s;
}
.clicked{
    color: #8BC34A;
}
#toggle-slide2{
    display:none;
}
label[for="toggle-slide2"]{
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: #e5e7eb;
    border-radius: 25px;
    transition: 0.5s;
    border: 2px solid rgb(229, 231, 235);
}
.delete{
    padding-left: 80px;
    height: 874px;
    border-top: 1px solid #e5e7eb;
}
.notice>h2{
    font-size: 20px;
    height: 24px;
    line-height: 24px;
    font-weight: 600;
}
.notice div{
    margin-top: 12px;
    border: 1px solid #e5e7eb;
    padding: 12px;
    border-radius: 0.375rem;
}
.p1{
    font-size: 12px;
    color: rgb(107, 114, 128);
    margin: 0px;
}
.p2{
    margin-top: 8px;
    margin-bottom: 0px;
    font-size: 12px;
    color: rgb(107, 114, 128);
}
.checknotice_div{
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 12px;
    height:40px;
    line-height: 40px;
}

#delete_form>p{
    float:left;
    margin: 0px;
}
label[for="checknotice"]{
    cursor: pointer;
    font-size: 14px;
    float: left;
    hegiht: 16px;
    line-height: 16px;
}
#checknotice{
    cursor: pointer;
    width: 14px;
    height: 14px;
    margin: 0px;
    margin-right: 5px;
    float: left;

}
#delete{
    float: right;
    height: 40px;
    width: 200px;
    border: none;
    background-color: red;
    font-size: 12px;
    font-weight: bold;
    color: white;
    border-radius: 0.375rem;
    cursor: pointer;
}
#delete:disabled{
    opacity: 0.3;
    cursor: default;
}
.socialLoad{
    height: 346px;
    margin-top: 32px;
    margin-bottom: 40px;
    padding-left : 80px;
}
.socialLoadInfo{
    height: 48px;
}
.socialLoadInfo>h2{
    height: 24px;
    font-size: 20px;
    line-height: 24px;
    margin: 0px;
    font-weight: 600;
}
.socialLoadInfo>p{
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    margin-top: 4px;
    color: gray;
}
.connect{
    margin-top: 8px;
    height: 290px;
}
.connect>ul{
    height: 290px;
    margin: 0px;
    float: right;
}
.connectTo{
    height: 42px;
    margin-top: 20px;
    border: none;
    box-sizing: border-box;
    width: 192px;
}
.connectTo1{
    height: 42px;
    border: none;
    box-sizing: border-box;
    width: 192px;
}
.connectButton{
    width:192px;
    height: 40px;
    border: 1px solid #e5e7eb;
    background-color: white;
    opacity: 0.3;
    padding: 0px;
    border-radius: 0.375rem;
}

.connectButton>img{
    margin-left: 8px;
    padding-left: 4px;
    width: 20px;
    height: 20px;
    float: left;
}
.connectTo1>a{
    text-decoration: none;
    color: black;
    line-height: 42px;
}
.connectTo>a{
    text-decoration: none;
    color: black;
    line-height: 42px;
}
.emailCheck{
    border-bottom: 1px solid #e5e7eb;
    padding-top: 24px;
    padding-bottom: 16px;
}
.emailCheck_2{
    padding-left: 80px;
}
.emailCheck_2>h2{
    font-size: 20px;
    height: 24px;
    line-height: 24px;
    font-weight: 600;
    margin: 0px;
}
#emailInfo{
    margin-top: 16px;
    height: 42px;
}
#emailDiv{
    height: 42px;
}
#emailDivDiv{
    width: 479px;
    height: 42px;
    float: left;
}
#email{
    width: 453px;
    height: 24px;
    line-height: 24px;
    padding: 8px 12px;
    border: 1px solid rgba(107, 114, 128, 0.3);
    margin: 0px;
    border-radius: 0.375rem;
}
#email:focus{
    outline: none;
    border: 1px solid rgba(107, 114, 128, 1);
}
#emailSubmit{
    width: 192px;
    height: 42px;
    border: 1px solid rgba(107, 114, 128, 0.3);
    border-radius: 0.375rem;
    float: right;
    background-color: white;
    padding : 0px 16px;
}
#emailSubmit:hover{
    cursor: pointer;
    border: 1px solid rgba(107, 114, 128, 1);
}
#emailSubmit>svg{
    float: left;
    width: 20px;
    height: 20px;
}
#emailSubmit>span {
    display: inline-block;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
}
.emailCheck_2>p{
    margin-top: 16px;
    height:20px;
}
.email-warning>svg{
    width: 16px;
    height: 16px;
    float: left;
    transform: translate(0px, 1px);
}
.email-warning path{
    width: 12px;
    height: 12px;
    color: rgb(107, 114, 128);
}
.email-warning span{
    margin-left: 4px;
    float: left;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    color: rgb(107, 114, 128);
}
.email-agree{
    border-top: 1px solid #e5e7eb;
    margin-top: 40px;

}
.email-agree2{
    padding-left: 80px;
}
.agree>h2{
    margin-top: 24px;
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}
.agree>p{
    margin-top: 4px;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0px;
    color: rgb(107, 114, 128);
}
.marketing-agree{
    margin-top: 8px;
}
.p-m1{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin: 0px;
}
.p-m2{
    font-size: 14px;
    line-height: 20px;
    color: rgb(107, 114, 128);
    margin: 0px;
}
.marketing-info{
    float: left;
}
.marketing-btn{
    float: right;
    height: 30px;
}
#toggle-slide3{
    display:none;
}
label[for="toggle-slide3"]{
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: #e5e7eb;
    border-radius: 25px;
    transition: 0.5s;
    border: 2px solid rgb(229, 231, 235);
}
#toggle-slide3:checked + label[for="toggle-slide3"]{
    background-color: #8BC34A;
    border-color: #8BC34A;
}
#toggle-slide3:checked + label[for="toggle-slide3"] .onf_btn{
    left: 20px;
}

.submit-div{
    margin-top: 68px;
    margin-bottom: 40px;
    height: 40px;
    border-top: 1px solid #e5e7eb;
    padding: 20px 0px 20px 80px;
}
#infoSubmit{
    padding: 8px 32px;
    height: 40px;
    float: right;
    background-color: rgba(139, 195, 74, 0.3);
    border: none;
    border-radius: 0.375rem;
    color: white;
    font-weight: 600;
}
#infoSubmit:hover{
    background-color: rgba(139, 195, 74, 1);
    cursor: pointer;
}
.wrong-email-div{
    font-size: 14px;
    line-height: 20px;
    color: rgb(239, 68, 68);
}
.right-email-div{
    font-size: 14px;
    line-height: 20px;
    color: #8BC34A;
}
.empty-name-div, .empty-nickname-div{
    font-size: 14px;
    line-height: 20px;
    color: rgb(239, 68, 68);
}
.connect svg{
    width: 20px;
    height: 20px;
}
.connect svg{
    margin-left: 8px;
    padding-left: 4px;
    width: 20px;
    height: 20px;
    float: left;
}
#facebook svg{
    margin-left: 8px;
    padding-left: 4px;
    width: 16px;
    height: 16px;
    float: left;
}
#naver svg{
    width: 14px;
    height: 12px;
    margin-left: 8px;
    padding-left: 4px;
    float: left;
    transform: translate(0px, 3px);
}
#kakao svg{
    width: 16px;
    height: 15px;
}



/*=============================================================*/

#change-password {
    border-bottom: 1px solid #e5e7eb;
    padding: 20px 20px 20px 80px;
    display: flex;
    justify-content: space-between;
}
#change-password-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 200px;
    border: 0 solid #fff;
    border-radius: 10px;
    color: #fff;
    background-color: rgb(239, 68, 68);
    text-decoration: none;
}
#change-password-btn:hover {
    background-color: rgb(220, 38, 38);
}
#change-password-btn > svg {
    width: 20px;
}


