body{
    background-color: #f5f6f7;
}
.container{
    margin: 0 auto;
}

.container{
    display: flex;
    justify-content: center;
}
.contents{
    width: 440px;
}
.logo{
    width: 240px;
    height: 72px;
    display: flex;
    margin: 10px auto;
}

.textForm>input{
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
    padding: 14px 17px 13px 17px;
    border: solid 1px #e4e4e5;
}


#id_check{
    width: 20%;
}
.signup_btn{
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
    background-color: #1B4568;
    border: none;
    padding: 13px 0;
    border-radius: 6px;
    width: 475.6px;
    height: 50px;
}

.error-msg-01, .error-msg-02, .error-msg-03, .error-msg-04{
    font-size: 12px;
    color: #ff0000;
    margin-bottom: 18px;
}