<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/css/notice/list.css">

    <title>assemble-notice-list</title>
</head>
<body>
<div class="notice">
    <!-- 받은 데이터 값에 따라 div 생성 -->
    <th:block th:each="notice:${notices}">
        <div class="notice-by-number">
            <div class="first-line">
                <img src="" alt=""> <!-- assemble 관리자 프로필 사진 -->
                <div class="admin-name">ASSEMBLE</div>
                <div class="register-date" th:text="*{notice.noticeDate}"></div>
            </div>
            <div class="second-line">
                <a class="notice-title-link" th:href="@{/notice/read/{id}(id= ${notice.noticeId})" th:text="*{notice.noticeTitle}"></a>
            </div>
        </div>
    </th:block>
</div>
<!-- 페이징 처리 -->
<div class="paging" th:object="${paging}">
    <a class="prev" th:href="@{/notice/list/{page}(page=*{page}-1)}"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="h-4 w-4"><path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18"></path></svg>
    이전</a>
    <div class="page">
        <div th:if="*{page} < 5">
            <a class="change-page" th:href="@{/notice/list/{page}(page = 1)}">1</a>
            <a class="change-page" th:href="@{/notice/list/{page}(page = 2)}">2</a>
            <a class="change-page" th:href="@{/notice/list/{page}(page = 3)}">3</a>
            <a class="change-page" th:href="@{/notice/list/{page}(page = 4)}">4</a>
            <a class="change-page" th:href="@{/notice/list/{page}(page = 5)}">5</a>
            <a class="change-page" th:href="@{/notice/list/{page}(page = *{page + 3})}">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="h-3 w-3 opacity-80"><path stroke-linecap="round" stroke-linejoin="round" d="M6.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM12.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM18.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0z"></path></svg></a>
        <a class="change-page" th:href="@{/notice/list/{page}(page = *{endPage})}" th:text="*{endPage}"></a>
    </div>

        <div th:if="*{page} > *{endPage - 4}">
            <a class="change-page" th:href="@{/notice/list/{page}(page = *{startPage})}" th:text="*{startPage}"></a>
            <a class="change-page" th:href="@{/notice/list/{page}(page = *{page} - 3)}"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="h-3 w-3 opacity-80"><path stroke-linecap="round" stroke-linejoin="round" d="M6.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM12.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM18.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0z"></path></svg></a>
            <a class="change-page" th:href="@{/notice/list/{page}(page = *{endPage - 4})}" th:text="*{endPage} - 4"></a>
            <a class="change-page" th:href="@{/notice/list/{page}(page = *{endPage - 3})}" th:text="*{endPage} - 3"></a>
            <a class="change-page" th:href="@{/notice/list/{page}(page = *{endPage - 2})}" th:text="*{endPage} - 2"></a>
            <a class="change-page" th:href="@{/notice/list/{page}(page = *{endPage - 1})}" th:text="*{endPage} - 1"></a>
            <a class="change-page" th:href="@{/notice/list/{page}(page = *{endPage})}" th:text="*{endPage}"></a>
        </div>


        <div th:if="*{page} >= 5 and *{page} <= *{endPage - 4}">
            <a class="change-page" th:href="@{/notice/list/{page}(page = *{startPage})}" th:text="*{startPage}"></a>
            <a class="change-page" th:href="@{/notice/list/{page}(page = *{page - 3})}"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="h-3 w-3 opacity-80"><path stroke-linecap="round" stroke-linejoin="round" d="M6.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM12.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM18.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0z"></path></svg></a>
            <a class="change-page" th:href="@{/notice/list/{page}(page = *{page - 1})}" th:text="*{page} - 1"></a>
            <a class="change-page" th:href="@{/notice/list/{page}(page = *{page})}" th:text="*{page}"></a>
            <a class="change-page" th:href="@{/notice/list/{page}(page = *{page + 1})}" th:text="*{page} + 1"></a>
            <a class="change-page" th:href="@{/notice/list/{page}(page = *{page + 3})}"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="h-3 w-3 opacity-80"><path stroke-linecap="round" stroke-linejoin="round" d="M6.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM12.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM18.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0z"></path></svg></a>
            <a class="change-page" th:href="@{/notice/list/{page}(page = *{endPage})}" th:text="*{endPage}"></a>
        </div>
    </div>
    <a class="next" th:href="@{/notice/list/{page}(page=*{page}+1)}"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="h-4 w-4"><path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18"></path></svg>
        다음</a>
</div>

</body>


</html>
