<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>assemble</title>
    <link rel="stylesheet" href="/css/study/addGroupPost.css">
    <!--    <link rel="stylesheet" href="../static/css/reset.css">-->
    <link rel="stylesheet" href="/css/summernote/summernote-lite.css">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
    <div class="body">
        <header>
            <nav>
                <a href="/"><img src="/image/logo.png" width="240px" alt="assemble"></a>
                <div id="menu">
                    <a href="">커뮤니티</a>
                    <a href="">스터디</a>
                </div>
                <div>
                    <a href="/study/add">새 글 쓰기</a>
                    <!--            알림 버튼-->
                    <div>
                        <button id="notification-button">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
                                <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
                            </svg>
                        </button>
                        <div id="notification-box">
                            <div>
                                <h1>읽지 않은 알림 (0)</h1>
                                <button id="notification-box-close-button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                                    </svg>
                                </button>
                            </div>
                            <p>알림함이 비어있습니다.</p>
                        </div>
                        <input type="checkbox" id="notification-check" hidden>
                    </div>
                    <!--            내 정보 메뉴 버튼-->
                    <div>
                        <button id="my-menu-button">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
                                <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/>
                            </svg>
                        </button>
                        <div id="my-menu-box">
                            <a href="">내 작성글</a>
                            <a href="">내 관심글</a>
                            <a href="">설정</a>
                            <a href="">로그아웃</a>
                        </div>
                        <input type="checkbox" id="my-menu-check" hidden>
                    </div>
                </div>
            </nav>
        </header>
        <section class="post-info">
            <!-- 폼 주소 입력 -->
            <form action="/study/add" method="post" th:object="${studyVO}">
                <input type="text" id="leader" th:field="*{studyLeader}" hidden>

                <!-- 타이틀 1 -->
                <div class="post-title">
                    <span>1</span>
                    <h3>프로젝트 기본 정보를 입력해주세요.</h3>
                </div>

                <!-- 스터디 정보 선택 -->
                <section class="post-info">
                    <div class="select-wrap">
                        <label>진행 방식</label>
                        <button type="button" class="label 01">온라인/오프라인</button>
                        <ul class="option-list">
                            <li>온라인</li>
                            <li>오프라인</li>
                            <input type="checkbox" id="online-check" th:field="*{studyOnline}" hidden>
                        </ul>
                        <span>
                            <svg height="20" width="20" viewBox="0 0 20 20" aria-hidden="true" focusable="false"
                                 class="css-8mmkcg">
                                <path
                                        d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z">
                                </path>
                            </svg>
                        </span>
                    </div>

                    <div class="select-wrap select-area">
                        <label>모임 지역</label>
                        <button type="button" class="label 02">서울, 인천, 경기...</button>
                        <ul class="option-list">
                            <li>서울</li>
                            <li>인천</li>
                            <li>경기</li>
                            <li>강원</li>
                            <li>대전</li>
                            <li>충북</li>
                            <li>충남</li>
                            <li>부산</li>
                            <li>울산</li>
                            <li>대구</li>
                            <li>경북</li>
                            <li>경남</li>
                            <li>광주</li>
                            <li>전북</li>
                            <li>전남</li>
                            <li>제주</li>
                        </ul>
                        <input type="text" id="area" th:field="*{studyArea}" hidden>
                        <span>
                            <svg height="20" width="20" viewBox="0 0 20 20" aria-hidden="true" focusable="false"
                                 class="css-8mmkcg">
                                <path
                                        d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z">
                                </path>
                            </svg>
                        </span>
                    </div>

                    <div class="select-wrap">
                        <label>진행 분야</label>
                        <button type="button" class="label 03">어학, 자격증, 프로그래밍...</button>
                        <ul class="option-list">
                            <li>어학</li>
                            <li>자격증</li>
                            <li>프로그래밍</li>
                            <li>고시/공무원</li>
                            <li>취미/교양</li>
                            <li>자율</li>
                            <li>기타</li>
                        </ul>
                        <input type="text" id="topic" th:field="*{studyTopic}" hidden>
                        <span>
                            <svg height="20" width="20" viewBox="0 0 20 20" aria-hidden="true" focusable="false"
                                 class="css-8mmkcg">
                                <path
                                        d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z">
                                </path>
                            </svg>
                        </span>
                    </div>

                    <div class="select-wrap">
                        <label>모집 인원</label>
                        <button type="button" class="label 04">1명 ~ 10명</button>
                        <ul class="option-list">
                            <li>1명</li>
                            <li>2명</li>
                            <li>3명</li>
                            <li>4명</li>
                            <li>5명</li>
                            <li>6명</li>
                            <li>7명</li>
                            <li>8명</li>
                            <li>9명</li>
                            <li>10명</li>
                        </ul>
                        <input type="number" id="number" th:field="*{studyMaxNumber}" hidden>
                        <span>
                            <svg height="20" width="20" viewBox="0 0 20 20" aria-hidden="true" focusable="false"
                                 class="css-8mmkcg">
                                <path
                                        d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z">
                                </path>
                            </svg>
                        </span>
                    </div>
                </section>

                <!-- 타이틀 2 -->
                <div class="post-title">
                    <span>2</span>
                    <h3>프로젝트에 대해 소개해주세요.</h3>
                </div>

                <!-- 스터디 상세 내용 입력 -->
                <section class="post-content">
                    <div class="content-title">
                        <label for="title">제목</label>
                        <input type="text" id="title" th:field="*{studyName}" placeholder="글 제목을 입력해주세요!" required>
                    </div>
                    <!-- Summnernote -->
                    <textarea name="editordata" id="summernote" th:field="*{studyRecruitment}"></textarea>
                    <div class="buttons">
                        <button type="button" class="back">취소</button>
                        <button type="submit" class="submit">글 등록</button>
                    </div>
                </section>
            </form>
        </section>

    </div>

</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/addGroupPost.js"></script>
<script src="/js/summernote/summernote-lite.js"></script>
<script src="/js/summernote/lang/summernote-ko-KR.js"></script>
<script th:inline="javascript">
    const userId = [[${userVO.userId}]];
    $("#leader").val(userId);
    console.log(userId);
</script>
</html>