<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>assemble</title>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="/css/user/login.css">
    <link rel="stylesheet" href="/css/reset.css">
</head>
<body>
<!-- 로고 -->
<header>
<!--    클릭 시 메인 페이지로 이동-->
    <a href="/">
        <img src="/image/logo.png" width="240px">
    </a>
</header>

<main>
<!--    ID 로그인 / SNS 로그인 버튼-->
    <section class="login-button">
        <div class="login-id-button">
            <span class="material-symbols-rounded icon01">
                login
            </span>
            <span>ID 로그인</span>
        </div>
        <div class="login-sns-button">
            <span class="material-symbols-rounded icon02">
                chat
            </span>
            <span>SNS 로그인</span>
        </div>
    </section>

<!--    로그인 폼-->
    <section class="login-id">
        <form id="login-form" action="/login" method="post" th:object="${userVO}">
            <label>
                <div id="id-div">
                <span class="material-symbols-rounded icon03">
                    person
                </span>
                    <input type="text" placeholder="아이디" id="id-input" th:field="*{userId}">
                </div>
            </label>
            <label>
                <div id="password-div">
                <span class="material-symbols-outlined icon04">
                    lock
                </span>
                    <input type="password" placeholder="비밀번호" id="pw-input" th:field="*{userPassword}">
                </div>
            </label>
<!--            오류 메세지 삽입-->
            <p class="error-msg"></p>
            <button type="button">로그인</button>
        </form>
    </section>

<!--    SNS 로그인 연결 버튼-->
    <section class="login-sns">
        <button type="button">
            <img src="https://d2v80xjmx68n4w.cloudfront.net/assets/icon/icon_naver.png" alt="sns아이콘"
                 class="width-30px margin-right-5" width="28px">
            네이버 간편 로그인
        </button>
        <button type="button">
            <img src="https://d2v80xjmx68n4w.cloudfront.net/assets/icon/icon_kakao.png" alt="sns아이콘"
                 class="width-30px margin-right-5" width="28px">
            카카오톡 간편 로그인
        </button>
        <button type="button">
            <img src="https://d2v80xjmx68n4w.cloudfront.net/assets/icon/icon_google.png" alt="sns아이콘"
                 class="width-30px margin-right-5" width="28px">
            구글 간편 로그인
        </button>
    </section>
</main>

<!--계정찾기 / 회원가입-->
<section class="login-service">
    <ul>
        <li>
<!--            클릭 시 계정 찾기로 이동-->
            <a href="/findUser">계정찾기</a>
        </li>
        <li>
<!--            클릭 시 회원 가입으로 이동-->
            <a href="/signup">회원가입</a>
        </li>
    </ul>
</section>

<!--하단 배너-->
<section class="login-banner">
    <a href="#">
        <img src="https://ssl.pstatic.net/melona/libs/1378/1378592/9baf2c4b14aec68ea800_20220902161708847.jpg"
             alt="로그인 하단 배너" width="500px">
    </a>
</section>

<!--푸터-->
<footer>
    <ul>
        <li><a href="#">이용약관</a></li>
        <li><a href="#">개인정보처리방침</a></li>
        <li><a href="#">책임의 한계와 법적고지</a></li>
        <li><a href="#">회원정보 고객센터</a></li>
    </ul>
    <div class="login-copyright">
<!--        클릭 시 메인으로 이동-->
        <a href="/">
            <img src="/image/logo.png" width="90px">
        </a>
        Copyright <span>&copy; assemble</span> All RIghts Reserved.
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/login.js"></script>
</body>
</html>