<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>
    <link href="../../static/css/reset.css" rel="stylesheet">
    <link href="../../static/css/myPage.css" rel="stylesheet">
    <link href="../../static/css/tag.css " rel="stylesheet">
    <script src="../../static/js/selectTag.js"></script>
    <script th:src="@{/js/header.js}" defer></script>
</head>
<body>
<header>
    <nav>
        <a href="/"><img src="/image/logo.png" width="240px" alt="assemble"></a>
        <div id="menu">
            <a href="">커뮤니티</a>
            <a href="/study">스터디</a>
        </div>
        <div>
            <a href="/study/add">스터디 만들기</a>
            <!--            알림 버튼-->
            <div>
                <button id="notification-button">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
                        <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
                    </svg>
                </button>
                <div id="notification-box">
                    <div>
                        <h1>읽지 않은 알림 (0)</h1>
                        <button id="notification-box-close-button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                            </svg>
                        </button>
                    </div>
                    <p>알림함이 비어있습니다.</p>
                </div>
                <input type="checkbox" id="notification-check" hidden>
            </div>
            <!--            내 정보 메뉴 버튼-->
            <div>
                <button id="my-menu-button" th:if="${userVO}">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
                        <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/>
                    </svg>
                </button>
                <div id="my-menu-box">
                    <a href="">내 작성글</a>
                    <a href="">내 관심글</a>
                    <a href="">설정</a>
                    <a href="/logout">로그아웃</a>
                </div>
                <input type="checkbox" id="my-menu-check" hidden>
                <div th:unless="${userVO}">
                    <a href="/login" id="login">로그인</a>
                    <a href="/signup" id="signup">회원가입</a>
                </div>
            </div>
        </div>
    </nav>
</header>

<div class="container">
    <div class="my_profile">
        <h2>내 프로필</h2>
        <div class="myBox">
            <!-- 수정이 가능한 부분(사진,닉네임,비밀번호,관심기술)-->
            <div class="variable">
                <div class="contents">
                    <div class="profile-img">
                        <img src="https://cdn-icons-png.flaticon.com/512/1077/1077063.png">
                        <div class="img-button">
                            <input type="button" value="이미지 선택">
                            <input type="button" value="이미지 제거">
                        </div>
                    </div>
                </div>
                <div class="contents">
                    <p>
                        <label>닉네임</label>
                        <input type="text" placeholder="원래아이디">
                    </p>
                </div>

            </div>
            <!-- 수정이 불가능한 부분(아이디,이름,번호)-->
            <div class="immutability">
                <div class="contents">
                    <label>아이디</label>
                    <span>아이디</span>
                </div>
                <div class="contents">
                    <label>이름</label>
                    <span>이름</span>
                </div>
                <div class="contents">
                    <label>번호</label>
                    <spanp>번호</spanp>
                </div>
            </div>
            <input type="button" value="수정하기">
        </div>
    </div>
    <div>
        <div class="my_list">
            <h2>내 게시글</h2>
            <div class="myBox">
                <p id="none-post">😢 보여드릴 내용이 없어요<br>
                    게시글을 올려보세요</p>
            </div>
        </div>
        <div class="my_scrap">
            <h2>내 스크랩</h2>
            <div class="myBox">
                <p id="none-script">😢 보여드릴 내용이 없어요<br>
                    관심가는 게시글을 모아보세요</p>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    var select = document.getElementById("tag_select");
    multi(select, {
        enable_search: false
    });
</script>
</html>

<!--<div class="contents">-->
<!--    <label>관심태그</label>-->
<!--    <form>-->
<!--        <select-->
<!--                required-->
<!--                multiple="multiple"-->
<!--                name="intrest_tag"-->
<!--                id="tag_select"-->
<!--        >-->
<!--            <optgroup label="백엔드">-->
<!--                <option value="Java">Java</option>-->
<!--                <option value="C">C</option>-->
<!--                <option value="Python">Python</option>-->
<!--                <option value="Nodejs">Nodejs</option>-->
<!--                <option value="Spring">Spring</option>-->
<!--                <option value="Kotlin">Kotlin</option>-->
<!--                <option value="Express">Express</option>-->
<!--                <option value="MySQL">MySQL</option>-->
<!--                <option value="MongoDB">MongoDB</option>-->
<!--                <option value="Django">Django</option>-->
<!--                <option value="PHP">PHP</option>-->
<!--                <option value="GraphQL">GrapQL</option>-->
<!--                <option value="Firebase">Firebase</option>-->
<!--            </optgroup>-->
<!--            <optgroup label="프론트앤드">-->
<!--                <option value="JavaScript">JavaScript</option>-->
<!--                <option value="TypeScript">TypeScript</option>-->
<!--                <option value="React">React</option>-->
<!--                <option value="Vue">Vue</option>-->
<!--                <option value="Svelte">Svelte</option>-->
<!--                <option value="Nextjs">Nextjs</option>-->
<!--            </optgroup>-->
<!--            <optgroup label="기타">-->
<!--                <option value="Flutter">Flutter</option>-->
<!--                <option value="Swift">Swift</option>-->
<!--                <option value="Unity">Unity</option>-->
<!--                <option value="AWS">AWS</option>-->
<!--                <option value="Docker">Docker</option>-->
<!--                <option value="git">git</option>-->
<!--                <option value="Figma">Figma</option>-->
<!--                <option value="Jest">Jest</option>-->
<!--            </optgroup>-->
<!--        </select>-->
<!--    </form>-->
<!--</div>-->