<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/user/myPage.css">
    <!--    <script type="text/javascript" src="/javascript/myPage.js"></script>-->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" src="/js/myPage.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <title>마이페이지</title>
</head>
<body>
<!--<header include-html="../../templates/mainPageHtml/header.html"></header>-->
<div class="main">
    <div class="main_top_margin">
        <div class="main_without_margin">
            <aside class="menu_bar">
                <h2>내 계정</h2>
                <div class="menu">
                    <!--https://iconmonstr.com/ 사용 -->
                    <ul>
                        <!--<li id="link_1"><img src="../../img/account.svg"></img><span>회원 정보</span></li> -->
                        <li id = "link_1">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="text-gray-600 dark:text-gray-400 -ml-1 mr-3 h-6 w-6 shrink-0 group-hover:text-gray-800 dark:group-hover:text-gray-200">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z"></path>
                            </svg>
                            <span>회원정보</span>
                        </li>
                    </ul>
                </div>
            </aside>
            <div class="content">
                <!-- 계정관리 화면 -->
                <div class="tabpage" id="tabpage_1">
                    <form id="user_info" th:action="@{/myPage}" th:object="${userVO}" method="post" enctype="multipart/form-data">
                        <div class="info">
                            <h2>회원정보</h2>
                            <div class="info_word">
                                <div class="essentialInfo">
                                    <div class="name">
                                        <label for="username" class="username">이름</label>
                                        <div class="name_enter">
                                            <input type="text" id="username" th:field="*{userName}">
                                        </div>
                                    </div>
                                    <div class="empty-name"></div>
                                    <div class="nickname">
                                        <label for="userNickname" class="userNickname">닉네임</label>
                                        <div class="nickname_enter">
                                            <input type="text" id="userNickname" th:field="*{userNickname}">
                                        </div>
                                    </div>
                                    <div class="empty-nickname"></div>
                                    <div class="nationality">
                                        <div class="usernationality">국적</div>
                                        <div class="nationality_enter">
                                            <select id="usernationality" th:field="*{userNation}">
                                                <option value="China">중국</option>
                                                <option value="Vietnam">베트남</option>
                                                <option value="Thailand">태국</option>
                                                <option value="Usa">미국</option>
                                                <option value="한국">한국</option>
                                                <option value="Uzbekistan">우즈베키스탄</option>
                                                <option value="Philippine">필리핀</option>
                                                <option value="Japan">일본</option>
                                                <option value="other">기타</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="profile">
                                    <label id="profile-label" for="picture">
                                        <img class="profile-img" src="/img/account.png" alt="" th:if="*{userProfile == null}">
                                        <img class="profile-img" th:src="@{/file/display(userProfile = *{userProfile})}" alt="" th:unless="*{userProfile == null}">
                                        <input type="hidden" id="profile-path" th:field="*{userProfile}">
                                        <p id="profile-text">변경</p>
                                    </label>
                                    <input type="file" id="picture">
                                </div>
                            </div>
                        </div>
                        <div class="optionalInfo">
                            <div class="age">
                                <label for="userage" class="userage">나이 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span>비공개</span></label>
                                <div class="age_enter">
                                    <input type="text" id="userage" th:field="*{userAge}">
                                    <div class="btn">
                                        <input type="checkbox" id="toggle-slide1" onclick="checkSlide1()" th:field="*{userAgeCheck}">
                                        <label for="toggle-slide1">
                                            <span class="onf_btn1"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="email-agree">
                            <div class="email-agree2">
                                <div class="agree">
                                    <h2>이메일 수신동의</h2>
                                    <p>assemble 에서 주최하는 다양한 이벤트, 정보성 뉴스레터 및 광고 수신여부를 설정할 수 있습니다.</p>
                                </div>
                                <div class="marketing-agree">
                                    <div>
                                        <div class="marketing-info">
                                            <p class="p-m1">뉴스레터 및 마케팅 메일 수신</p>
                                            <p class="p-m2">유저가 만드는 다양한 컨텐츠를 뉴스레터로 받습니다.</p>
                                        </div>
                                        <div class="marketing-btn">
                                            <input type="checkbox" id="toggle-slide3" onclick="checkSlide3()">
                                            <label for="toggle-slide3">
                                                <span class="onf_btn3"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" th:field="*{userId}">
                            <div class="submit-div">
                                <button type="submit" id="infoSubmit">저장</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    includeHTML();
</script>
<script th:inline="javascript">


    $("input[type=file]").on("change", function () {
        let formData = new FormData();
        formData.append("upload", $(this)[0].files[0]);
        console.log($(this)[0].files[0]);
        $.ajax({
            type: "post",
            url: "/file/upload",
            data: formData,
            contentType: false,
            processData: false,
            success: showUploadResult
        })
    })

    function showUploadResult(userProfile) {
        $($(".profile-img")[0]).attr("src", "/file/display?userProfile=" + userProfile);

        $("#profile-path").val(userProfile);
    }

















    let userAge = [[${userVO.userAge}]];
    if(!userAge){
        document.getElementById("userage").value = "";
    }

    let userResidence =[[${userVO.userResidence}]];
    if(!userResidence){
        document.getElementById("userlivingplace").value = "";
    }

    let userAgeCheck = [[${userVO.userAgeCheck}]]
    console.log(userAgeCheck);
    if(userAgeCheck == false){
        document.querySelector("#toggle-slide1").checked = false;
        document.querySelector(".userage span").innerText = "비공개";
        document.querySelector(".userage span").style.color = "#e5e7eb";
        document.querySelector("label[for=toggle-slide1]").style.backgroundColor = "#e5e7eb";
        document.querySelector("label[for=toggle-slide1]").style.borderColor = "#e5e7eb";
        document.querySelector(".onf_btn1").style.left = "0px";
    }else{
        document.querySelector("#toggle-slide1").checked = true;
        document.querySelector(".userage span").innerText = "공개";
        document.querySelector(".userage span").style.color = "#8BC34A";
        document.querySelector("label[for=toggle-slide1]").style.backgroundColor = "#8BC34A";
        document.querySelector("label[for=toggle-slide1]").style.borderColor = "#8BC34A";
        document.querySelector(".onf_btn1").style.left = "20px";
    }

    function checkSlide1(){
        if(document.querySelector("#toggle-slide1").checked){
            document.querySelector(".userage span").innerText = "공개";
            document.querySelector(".userage span").style.color = "#8BC34A";
            document.querySelector("label[for=toggle-slide1]").style.backgroundColor = "#8BC34A";
            document.querySelector("label[for=toggle-slide1]").style.borderColor = "#8BC34A";
            document.querySelector(".onf_btn1").style.left = "20px";

        }else{
            document.querySelector(".userage span").innerText = "비공개";
            document.querySelector(".userage span").style.color = "#e5e7eb";
            document.querySelector("label[for=toggle-slide1]").style.backgroundColor = "#e5e7eb";
            document.querySelector("label[for=toggle-slide1]").style.borderColor = "#e5e7eb";
            document.querySelector(".onf_btn1").style.left = "0px";
        }
    }

    let userResidenceCheck = [[${userVO.userResidenceCheck}]]
    console.log(userResidenceCheck);
    if(userResidenceCheck == false){
        document.querySelector("#toggle-slide2").checked = false;
        document.querySelector(".userlivingplace span").innerText = "비공개";
        document.querySelector(".userlivingplace span").style.color = "#e5e7eb";
        document.querySelector("label[for=toggle-slide2]").style.backgroundColor = "#e5e7eb";
        document.querySelector("label[for=toggle-slide2]").style.borderColor = "#e5e7eb";
        document.querySelector(".onf_btn2").style.left = "0px";
    }else{
        document.querySelector("#toggle-slide2").checked = true;
        document.querySelector(".userlivingplace span").innerText = "공개";
        document.querySelector(".userlivingplace span").style.color = "#8BC34A";
        document.querySelector("label[for=toggle-slide2]").style.backgroundColor = "#8BC34A";
        document.querySelector("label[for=toggle-slide2]").style.borderColor = "#8BC34A";
        document.querySelector(".onf_btn2").style.left = "20px";
    }

    function checkSlide2(){
        if(document.querySelector("#toggle-slide2").checked){
            document.querySelector(".userlivingplace span").innerText = "공개";
            document.querySelector(".userlivingplace span").style.color = "#8BC34A";
            document.querySelector("label[for=toggle-slide2]").style.backgroundColor = "#8BC34A";
            document.querySelector("label[for=toggle-slide2]").style.borderColor = "#8BC34A";
            document.querySelector(".onf_btn2").style.left = "20px";

        }else{
            document.querySelector(".userlivingplace span").innerText = "비공개";
            document.querySelector(".userlivingplace span").style.color = "#e5e7eb";
            document.querySelector("label[for=toggle-slide2]").style.backgroundColor = "#e5e7eb";
            document.querySelector("label[for=toggle-slide2]").style.borderColor = "#e5e7eb";
            document.querySelector(".onf_btn2").style.left = "0px";
        }
    }


    let userEmailReceiveCheck = [[${userVO.userEmailReceiveCheck}]]
    console.log(userEmailReceiveCheck);
    if(userEmailRecieveCheck == false){
        document.querySelector("#toggle-slide3").checked = false;
        document.querySelector("label[for=toggle-slide3]").style.backgroundColor = "#e5e7eb";
        document.querySelector("label[for=toggle-slide3]").style.borderColor = "#e5e7eb";
        document.querySelector(".onf_btn3").style.left = "0px";
    }else{
        document.querySelector("#toggle-slide3").checked = true;
        document.querySelector("label[for=toggle-slide3]").style.backgroundColor = "#8BC34A";
        document.querySelector("label[for=toggle-slide3]").style.borderColor = "#8BC34A";
        document.querySelector(".onf_btn3").style.left = "20px";
    }

    function checkSlide3(){
        if(document.querySelector("#toggle-slide3").checked){
            document.querySelector("label[for=toggle-slide3]").style.backgroundColor = "#8BC34A";
            document.querySelector("label[for=toggle-slide3]").style.borderColor = "#8BC34A";
            document.querySelector(".onf_btn3").style.left = "20px";

        }else{
            document.querySelector("label[for=toggle-slide3]").style.backgroundColor = "#e5e7eb";
            document.querySelector("label[for=toggle-slide3]").style.borderColor = "#e5e7eb";
            document.querySelector(".onf_btn3").style.left = "0px";
        }
    }

    // 필수 정보 입력 여부

    let changeName = null;
    let changeNameCheck = 0;
    let changeNickname = null;
    let changeNicknameCheck = 0;
    let nicknameDuplicate = false;

    document.getElementById("username").addEventListener("change", function () {
        changeName = document.getElementById("username").value;
    })
    document.getElementById("userNickname").addEventListener("change", function () {
        changeNickname = document.getElementById("userNickname").value;
    })

    document.getElementById("infoSubmit").addEventListener("click",function (event) {

        if(changeName != null && changeName.length == 0 && changeNameCheck == 0){
            event.preventDefault();
            let div = document.createElement("div");
            div.className = "empty-name-div";
            div.innerText = "이름을 입력하지 않으셨습니다."
            document.querySelector(".empty-name").append(div);
            changeNameCheck++;
        }else if(changeName != null && changeName.length == 0 && changeNameCheck != 0){
            event.preventDefault();
        }

        if(changeNickname != null && changeNickname.length == 0 && changeNickname == 0){
            event.preventDefault();
            let div = document.createElement("div");
            div.className = "empty-nickname-div";
            div.innerText = "닉네임을 입력하지 않으셨습니다."
            document.querySelector(".empty-nickname").append(div);
            changeNicknameCheck++;
        }else if(changeNickname != null && changeNickname.length == 0 && changeNicknameCheck != 0){
            event.preventDefault();
        }
    })










</script>
<style>
    #link_1{
        background-color: #e5e7eb;
    }
    #link_5:hover{
        background-color: #e5e7eb;
    }

    #profile-label {
        cursor: pointer;
        position: relative;
    }
    #profile-label:hover {
        filter: brightness(0.7);
    }
    .profile-img {
        width: 100px;
        height: 100px;
        border-radius: 100%;

    }
    #profile-text {
        position: absolute;
        bottom: 30px;
        right: 36px;
    }
</style>
</html>

