<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>스터디 찾기</title>
    <link href="../static/css/findStudy.css" rel="stylesheet">
    <link href="../static/css/reset.css" rel="stylesheet">
</head>
<body>
    <div class="header">
    </div>
    <div class="container">
        <section class="tag-box">
            <div class="select-tag">
                <ul class="field-select">
                    <li>인기</li>
                    <li>프론트엔드</li>
                    <li>백엔드</li>
                    <li>모바일</li>
                    <li>기타</li>
                    <li>전체보기</li>
                </ul>
                <ul class="tag">
                    <li>Java</li>
                    <li>C</li>
                    <li>Python</li>
                    <li>Spring</li>
                    <li>JavaScript</li>
                </ul>
            </div>
            <div class="check-tag">
                <p>최대 3개의 태그를 선택할 수 있습니다.</p>
            </div>
        </section>
        <div class="study-wrap">
            <div class="study-box">
                <div class="summary">
                    <a>
                        <div class="summary-top">
                            <div class="writer">
                                <img src="" alt="프로필사진">
                                <span>
                                    <textarea></textarea>
                                닉네임
                                .
                                n분전
                                .
                                조회
                                .
                                스크랩
                                </span>
                            </div>
                            <div>
                                <button type="button"><img src="https://cdn-icons-png.flaticon.com/512/1828/1828970.png"></button>

                            </div>
                        </div>
                        <div class="title">

                        </div>
                        <div class="detail">

                        </div>
                    </a>
                </div>
                <div class="tag">

                </div>
            </div>
        </div>
    </div>
    <article>
        <div class="at-box">
            <p>추천하는 프로젝트</p>
            <a href="">
                <div>
                    프로필 닉네임
                </div>
                <p>내용</p>
            </a>
            <a href="">
                <div>
                    프로필 닉네임
                </div>
                <p>내용</p>
            </a>
            <a href="">
                <div>
                    프로필 닉네임
                </div>
                <p>내용</p>
            </a>
        </div>
        <div class="at-box">
            <p>인기있는 프로젝트</p>
            <a href="">
                <div>
                    프로필 닉네임
                </div>
                <p>내용</p>
            </a>
            <a href="">
                <div>
                    프로필 닉네임
                </div>
                <p>내용</p>
            </a>
            <a href="">
                <div>
                    프로필 닉네임
                </div>
                <p>내용</p>
            </a>
        </div>
    </article>
</body>
</html>