<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>assemble</title>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="../stataic/css/login.css">
    <link rel="stylesheet" href="../stataic/css/reset.css">
    <link href="https://webfontworld.github.io/pretendard/Pretendard.css" rel="stylesheet">
</head>
<body>
<header>
    <a href="#">
        <img src="../stataic/image/logo.png" width="240px">
    </a>
</header>

<main>
    <section class="login-button">
        <div class="login-id-button">
            <span class="material-symbols-rounded icon01">
                login
            </span>
            <span>ID 로그인</span>
        </div>
        <div class="login-sns-button">
            <span class="material-symbols-rounded icon02">
                chat
            </span>
            <span>SNS 로그인</span>
        </div>
    </section>

    <section class="login-id">
        <label>
            <div>
                <span class="material-symbols-rounded icon03">
                    person
                </span>
                <input type="text" placeholder="아이디">
            </div>
        </label>
        <label>
            <div>
                <span class="material-symbols-outlined icon04">
                    lock
                </span>
                <input type="password" placeholder="비밀번호">
            </div>
        </label>
        <p class="login-error">아이디 혹은 비밀번호를 잘못 입력하셨습니다.</p>
        <button>로그인</button>
    </section>

    <section class="login-sns">
        <button>
            <img src="https://d2v80xjmx68n4w.cloudfront.net/assets/icon/icon_naver.png" alt="sns아이콘"
                 class="width-30px margin-right-5" width="28px">
            네이버 간편 로그인
        </button>
        <button>
            <img src="https://d2v80xjmx68n4w.cloudfront.net/assets/icon/icon_kakao.png" alt="sns아이콘"
                 class="width-30px margin-right-5" width="28px">
            카카오톡 간편 로그인
        </button>
        <button>
            <img src="https://d2v80xjmx68n4w.cloudfront.net/assets/icon/icon_google.png" alt="sns아이콘"
                 class="width-30px margin-right-5" width="28px">
            구글 간편 로그인
        </button>
    </section>
</main>

<section class="login-service">
    <ul>
        <li>
            <a href="#">계정찾기</a>
        </li>
        <li>
            <a href="#">회원가입</a>
        </li>
    </ul>
</section>

<section class="login-banner">
    <a href="#">
        <img src="https://ssl.pstatic.net/melona/libs/1378/1378592/9baf2c4b14aec68ea800_20220902161708847.jpg"
             alt="로그인 하단 배너" width="500px">
    </a>
</section>

<footer>
    <ul>
        <li><a href="#">이용약관</a></li>
        <li><a href="#">개인정보처리방침</a></li>
        <li><a href="#">책임의 한계와 법적고지</a></li>
        <li><a href="#">회원정보 고객센터</a></li>
    </ul>
    <div class="login-copyright">
        <a href="#">
            <img src="../stataic/image/logo.png" width="90px">
        </a>
        Copyright <span>&copy; assemble</span> All RIghts Reserved.
    </div>
</footer>

<script src="../stataic/js/login.js"></script>
</body>
</html>