<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
    <form>
        <h2>회원가입</h2>
        <div class="centents">
            <div class="textForm"> <!-- 아이디 !-->
                <input name="loginId" type="text" class="id" placeholder="아이디">
                <input type="button" class="idcheck" value="중복확인">
            </div>
            <div class="textForm">  <!-- 비밀번호 !-->
                <input name="loginPw" type="password" class="pw" placeholder="비밀번호">
            </div>
            <div class="textForm">  <!-- 비밀번호 확인 !-->
                <input name="loginPwConfirm" type="password" class="pw_check" placeholder="비밀번호확인">
            </div>
            <div class="textForm">  <!-- 이메일 !-->
                <input name="email" type="text" class="email" placeholder="이메일">
            </div>
            <div class="textForm">  <!-- 이름 !-->
                <input name="name" type="text" class="name" placeholder="이름">
            </div>
            <div class="textForm">  <!-- 닉네임 !-->
                <input name="nickname" type="text" class="nickname" placeholder="닉네임">
            </div>
            <div class="textForm">  <!-- 번호 !-->
                <input name="cellphoneNo" type="tel" class="cellphoneNo" placeholder="전화번호">
            </div>
            <div>
                <label> 관심태그</label>
                <select class="tag">
                    <optgroup label="백엔드">
                        <option value="Java">Java</option>
                        <option value="C">C</option>
                        <option value="Python">Python</option>
                        <option value="C#">C#</option>
                        <option value="Spring">Spring</option>
                        <option value="MySQL">MySQL</option>
                    </optgroup>
                    <optgroup label="프론트앤드">
                        <option value="JavaScript">JavaScript</option>
                        <option value="React">React</option>
                    </optgroup>
                    <optgroup label="모바일">
                        <option value="Kotlin">Kotlin</option>
                        <option value="Unity">Unity</option>
                    </optgroup>
                    <option value="ect">기타</option>
                </select>
            </div>
            <input type="submit" class="btn" value="가입하기"/>
        </div>










    </form>
</body>
</html>