<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.assemble.mapper.study.StudyMapper">
    <select id="selectAll" resultType="studyVO">
        SELECT STUDY_ID, STUDY_NAME, STUDY_ONLINE, STUDY_AREA, STUDY_TOPIC, STUDY_NOTICE, STUDY_COMPLETE, STUDY_LEADER, STUDY_MAX_NUMBER, STUDY_CURRENT_NUMBER, STUDY_RECRUITMENT, STUDY_REGISTER_DATE, STUDY_UPDATE_DATE
        FROM T_STUDY
        WHERE STUDY_COMPLETE = 0 AND STUDY_MAX_NUMBER != STUDY_CURRENT_NUMBER
        ORDER BY STUDY_REGISTER_DATE DESC
    </select>

    <select id="select" resultType="studyVO">
        SELECT STUDY_ID, STUDY_NAME, STUDY_ONLINE, STUDY_AREA, STUDY_TOPIC, STUDY_NOTICE, STUDY_COMPLETE, STUDY_LEADER, STUDY_MAX_NUMBER, STUDY_CURRENT_NUMBER, STUDY_RECRUITMENT, STUDY_REGISTER_DATE, STUDY_UPDATE_DATE
        FROM T_STUDY
        WHERE STUDY_ID = #{studyId}
    </select>


    <insert id="insert">
        INSERT INTO T_STUDY(STUDY_ID, STUDY_NAME, STUDY_ONLINE, STUDY_AREA, STUDY_TOPIC, STUDY_SEARCH, STUDY_LEADER)
        VALUES(S_STUDY.NEXTVAL, #{studyName}, #{studyOnline}, #{studyArea}, #{studyTopic}, #{studySearch}, #{studyLeader})
    </insert>

    <update id="update">
        UPDATE T_STUDY
        SET STUDY_NAME = #{studyName}, STUDY_ONLINE = #{studyOnline}, STUDY_AREA = #{studyArea}, STUDY_TOPIC = #{studyTopic}, STUDY_NOTICE = #{studyNotice}, STUDY_SEARCH = #{studySearch}, STUDY_COMPLETE = #{studyComplete}, STUDY_UPDATE_DATE = SYSDATE
        WHERE STUDY_ID = #{studyId}
    </update>

    <update id="updateNotice">
        UPDATE T_STUDY
        SET STUDY_NOTICE = #{studyNotice}
        WHERE STUDY_ID = #{studyId}
    </update>

    <update id="updateLeader">
        UPDATE T_STUDY
        SET STUDY_LEADER = #{studyLeader}
        WHERE STUDY_ID = #{studyId}
    </update>

    <delete id="delete">
        DELETE FROM T_STUDY
        WHERE STUDY_ID = #{studyId}
    </delete>

    <select id="search">
        SELECT STUDY_ID, STUDY_NAME, STUDY_ONLINE, STUDY_AREA, STUDY_TOPIC, STUDY_NOTICE, STUDY_SEARCH, STUDY_COMPLETE, STUDY_REGISTER_DATE, STUDY_UPDATE_DATE
        FROM T_STUDY
        WHERE STUDY_ONLINE = #{studyOnline} AND STUDY_AREA = #{studyArea} AND STUDY_TOPIC = #{studyTopic} AND STUDY_SEARCH = 1 AND STUDY_COMPLETE = 0
    </select>
</mapper>