<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.assemble.mapper.scrap.ScrapMapper">
    <select id="selectScrapped" resultType="com.example.assemble.domain.scrap.ScrapDTO">
        SELECT SCRAP_ID, BOARD_ID, CATEGORY_NAME, BOARD_TITLE, SCRAP_REGISTER_DATE
        FROM
        (
        SELECT ROWNUM R, SCRAP_ID, BOARD_ID, CATEGORY_NAME, BOARD_TITLE, SCRAP_REGISTER_DATE
        FROM
        (
        SELECT SCRAP_ID, B.BOARD_ID, CATEGORY_NAME, BOARD_TITLE, SCRAP_REGISTER_DATE
        FROM TBL_SCRAP S JOIN TBL_BOARD B ON S.BOARD_ID = B.BOARD_ID
        WHERE S.USER_ID = #{userId}
        ORDER BY SCRAP_ID DESC
        )
        <![CDATA[
            WHERE ROWNUM <= #{page} * 10
        )
        WHERE R > (#{page}-1) * 10
        ]]>
    </select>
    <select id="test" resultType="com.example.kirikiri.domain.ScrapDTO">
        SELECT SCRAP_ID, B.BOARD_ID, CATEGORY_NAME, BOARD_TITLE, SCRAP_REGISTER_DATE
                FROM TBL_SCRAP S JOIN TBL_BOARD B ON S.BOARD_ID = B.BOARD_ID
                WHERE S.USER_ID = #{userId}
    </select>

    <insert id="insert">
        INSERT INTO TBL_SCRAP(SCRAP_ID, USER_ID, BOARD_ID)
        VALUES (SEQ_SCRAP.NEXTVAL, #{userId}, #{boardId})
    </insert>
    <delete id="delete">
        DELETE FROM TBL_SCRAP
        WHERE USER_ID = #{userId} AND BOARD_ID = #{boardId}
    </delete>
    <delete id="deleteByBoardId">
        DELETE FROM TBL_SCRAP
        WHERE BOARD_ID = #{boardId}
    </delete>
    <select id="select" resultType="scrapVO">
        SELECT SCRAP_ID, BOARD_ID, SCRAP_REGISTER_DATE
        FROM TBL_SCRAP
        WHERE BOARD_ID = #{boardId} AND USER_ID = #{userId}
    </select>
</mapper>